.idea/
venv
.DS_Store
practica-LOINC/informe/informe.aux

practica-LOINC/informe/informe.bbl

practica-LOINC/informe/informe.blg

practica-LOINC/informe/informe.log

practica-LOINC/informe/informe.synctex.gz

practica-LOINC/informe/informe.toc
